In [1]:
import numpy as np
import pandas as pd
import collections
import matplotlib.pyplot as plt
from scipy.stats import linregress
import math
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
from numpy import trapz
plt.style.use('seaborn-darkgrid')

In [9]:
col_names = ['time','sw_up','sw_down','lw_up','lw_down','body_temp_C','body_temp_K','tc_lw_up','tc_lw_down','net','sky_temp','g_temp']
cols=[0,2,3,4,5,6,7,8,9,10,11,12]
solar = pd.read_csv('deere_CR3000_CNR1.csv',header=3,names=col_names,usecols=cols)
solar.head()

,time,sw_up,sw_down,lw_up,lw_down,body_temp_C,body_temp_K,tc_lw_up,tc_lw_down,net,sky_temp,g_temp
0,2020-03-13 11:23:00,2.102,0.162,8.14,1.671,21.55,294.7,435.8,429.3,8.41,22.94,21.83
1,2020-03-13 11:23:10,2.102,0.129,8.12,1.639,21.56,294.7,435.8,429.3,8.45,22.95,21.84
2,2020-03-13 11:23:20,2.135,0.151,8.05,1.606,21.56,294.7,435.8,429.3,8.43,22.94,21.83
3,2020-03-13 11:23:30,2.124,0.140,8.10,1.639,21.56,294.7,435.8,429.4,8.44,22.95,21.84
4,2020-03-13 11:23:40,2.081,0.108,8.30,1.649,21.56,294.7,436.0,429.4,8.62,22.98,21.85