In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress
import math
from datetime import datetime

#### Import Kestrel data and change year to 2015

In [2]:
dtypes=[datetime, float]
kes15 = pd.read_excel('Kestrel_data2015.xlsx',names=['time','wind_speed'],header=3)
kes15['time']=kes15['time'].apply((lambda x: x.replace(year=2015)))

                 time  wind_speed
0 2015-03-11 12:15:00         0.0
1 2015-03-11 12:16:00         0.0
2 2015-03-11 12:17:00         0.0
3 2015-03-11 12:18:00         0.2
4 2015-03-11 12:19:00         0.3

#### Import 2015 Sonic data

In [3]:
son15 = pd.read_csv('2015_sonic_1230_start.txt', sep=",", header=None)
son15.columns = ['u','v','w','sound_speed','temp']

      u     v     w  sound_speed   temp
0 -0.08 -2.10  0.01       343.95  20.56
1 -0.09 -2.12  0.01       343.95  20.56
2 -0.10 -2.12  0.01       343.96  20.57
3 -0.12 -2.13  0.01       343.96  20.57
4 -0.14 -2.14  0.01       343.97  20.59

#### Import 2015 Pitot data

In [4]:
pit15_test1 = pd.read_csv('WindTunnelCalibration2015_test1.csv',header=0)
pit15_test1.columns = ['time','fan_rpm','air_temp','air_dens','press','wind_speed']
pit15_test1['time']=pit15_test1['time'].apply((lambda x: pd.to_datetime(x[-5:])))
pit15_test1['time']=pit15_test1['time'].apply((lambda x: x.replace(year=2015)))
pit15_test1['time']=pit15_test1['time'].apply((lambda x: x.replace(month=3)))
pit15_test1['time']=pit15_test1['time'].apply((lambda x: x.replace(day=11)))

                 time  fan_rpm  air_temp  air_dens  press  wind_speed
0 2015-03-11 12:46:00      100      17.2       1.2     10         1.8
1 2015-03-11 12:48:00      100      17.3       1.2     15         2.2
2 2015-03-11 12:52:00      150      17.5       1.2     40         3.6
3 2015-03-11 12:53:00      150      17.4       1.2     40         3.6
4 2015-03-11 12:55:00      280      17.3       1.2    180         7.7

In [5]:
pit15_test2=pd.read_csv('WindTunnelCalibration2015_test2.csv',header=0)
pit15_test2.columns = ['time','fan_rpm','air_temp','air_dens','press','wind_speed']
pit15_test2['time']=pit15_test2['time'].apply((lambda x: pd.to_datetime(x[-5:])))
pit15_test2['time']=pit15_test2['time'].apply((lambda x: x.replace(year=2015)))
pit15_test2['time']=pit15_test2['time'].apply((lambda x: x.replace(month=3)))
pit15_test2['time']=pit15_test2['time'].apply((lambda x: x.replace(day=11)))

                 time  fan_rpm  air_temp  air_dens  press  wind_speed
0 2015-03-11 13:10:00      100      17.1       1.2     20         2.6
1 2015-03-11 13:11:00      100      17.1       1.2     20         2.6
2 2015-03-11 13:14:00      150      17.2       1.2     45         3.8
3 2015-03-11 13:15:00      150      17.2       1.2     45         3.8
4 2015-03-11 13:20:00      420      16.8       1.2    410        11.6